.resimSlider{
    height: 600px;
}

body{
    padding-top: 50px;
     font-family: 'Raleway', sans-serif;;
}
.hakkimizda{
    background-color: #f2f2f2;
}

.ayrac{
    border-top:3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;

}
.igri{

    color:  #181b1e;
    position: relative;
     
    font-size: 40px;
    top: -55px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;

} 

.ibeyaz{
    color:  #181b1e;
    position: relative;
     
    font-size: 40px;
    top: -55px;
    border: 10px solid white;
    background-color:white; }

    .img{
        width: 150px;;
        height:150px;
    }

   .img:hover{

        opacity: 0.8;

    }

    .galeri{
        background-color: #f2f2f2;
    }

   .figure:hover{
        opacity:0.8;
    }
   